/.Deneme.java._trace
/.PersistenceModelGenerator.java._trace
/.PersistenceModelGenerator.xtendbin
/.SnowFileSystemAccess.java._trace
/.SnowFileSystemAccess.xtendbin
/.SnowGenerator.java._trace
/.SnowGenerator.xtendbin
/PersistenceModelGenerator.java
/SnowFileSystemAccess.java
/SnowGenerator.java
